body {
    font-family: Arial, sans-serif;
    background: #10141c;
    color: white;
}
header {
    background: #11151d;
    padding: 1rem;
    border-bottom: 2px solid #ff4655;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #ff4655;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
}

nav a:hover {
    background: #ff4655;
}
.login-box {
    background: #1a1f2b;
    padding: 70px;
    width: 300px;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 20px;
}

.login-box h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;

}

button {
    width: 100%;
    padding: 10px;
    background: #ff4655;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

button:hover {
    background: #9b1f29;
}